<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--写UserMapper的权限name名  为哪个mapper服务-->
<mapper namespace="com.nowcoder.community.dao.UserMapper">
    <!--写标签  对应接口中的方法 UserMapper-->
<!--    selectById标签 resultType返回的是什么类型 按理说写全类名
因为在配置文件名里面配置了package 所以不用写om.nowcoder.community.entity-->

    <!--下面全部select 写了太过麻烦 这里写一个便于引用-->
    <!--/*不需要id在里面是因为id自动获取自增加了*/-->
    <sql id="selectFields">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
    <sql id="insertFields">
        username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>
<!--- 表示引用的是selectFields这一段sql语句-->
<!--    where id = #{id}    代表的是要引用方法的参数,名为id-->
    <select id="selectById" resultType="User">

        select <include refid="selectFields"></include>
        from user
        where id = #{id}
    </select>
    <select id="selectByName" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>
    <select id="selectByEmail" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where email = #{email}
    </select>
    <!--需要申明是什么参数  比如说参数是一个bean 不是Java自带的类型就需要-->
<!--    要告诉id这个ID的字段对应的属性  user类中与Id对应的属性名是什么-->
<!--    增加的时候 MySQL会自动增加id mybatis会获取到 然后回填进来-->
    <!--        /*- 注意 是要跟user里面的属性名一样 驼峰体*/-->
    <insert id="insertUser" parameterType="User" keyProperty="id">

        insert into user (<include refid="insertFields"></include>)

        values(#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime})
    </insert>
    <update id="updateStatus"> /*-- 因为是int类型 所以不用申明 只改了一个字段*/
    update user
    set status = #{status}
    where id = #{id}
    </update>

    <update id="updateHeader">
        update user
        set header_url = #{headerUrl}
        where id = #{id}
    </update>

    <update id="updatePassword">
        update user
        set password = #{password}
        where id = #{id}
    </update>

</mapper>